#calendar {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
}

#calendar-title {
    align-self: center;
    font-size: 2rem;
    font-weight: 700;
    border-bottom: none;
    text-align: center;
    background-color: lightgreen;
    border: 1px solid black;
    padding: 0.5rem 0 0.5rem 0;
}

#calendar-body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.month {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 1rem;
    gap: 1rem;
}

.month-title,
.header-element,
.day-element {
    text-align: center;
}

.month-title { 
    font-weight: 700;
    padding: 0.25rem;
    background-color: lightgreen;
    border: 1px solid black;
    font-size: 1.25rem;
}

.header-element {
    font-weight: 700;
}

.month-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.65rem;
}

.day-element {
    border: 1px solid black;
    padding: 0.35rem;
    cursor: pointer;
    transition: all 0.35s;
}

.day-element:hover {
    background-color: lightgray;
}

.today {
    background-color: lightgreen;
}